/*Barra de pesquisa*/
#busca {
    margin-left: 2em;
    padding:0;
    }
    #txtbusca {
    border:0px solid #222;
    border-radius: 1em;
    background:#EEE;
    width:650px;
    height:45px;
    margin:20 px;
    padding:5px 0 5px 5px;
    float:left;
    margin-left: 55px;
    }
    #btnBusca {
    background: lightseagreen;
    position:relative;
    border:0px solid #222;
    color:black;
    padding:10px;
    border-radius: 1em;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    }
/*Campo do Formulário e botões de pesquisa*/
  .brand{
	text-align: center;
  }
  
  
  .company-info h3, .company-info ul{
	text-align: center;
	margin:0 0 1rem 0;
  }
  
 
  .contact form label{
	display:block;
  }
  
  .contact form p{
	margin:0;
  }
  
  .contact form .full{
	grid-column: 1 / 3;
  }
  
 
  .contact form button{
	border:0;
	text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
	background:black;
	color:#fff;
	outline:0;
	transition: background-color 2s ease-out;
  } 

  
	.company-info h3, .company-info ul, .brand{
		text-align: left;
		margin-left: 20px;
	}

.vertical-menu {
	width: 200px; /* Set a width if you like */
}


*, *:before, *:after{
	box-sizing: border-box;
	font: 300 1em/1.5 'Times', serif; color: black;
    padding: 0; margin: 0;
    border-radius: 0.40em;
}

html, body{background: rgb(255, 255, 255);}
h1{
	color: #111;
	font-size: 3em;
	font-weight: 900;
	padding: 0 0 20px 0;
	text-align: center;
}
h2{
	color: #111;
	font-size: 2em;
	font-weight: 900;
	padding: 0 0 15px 0;
}
p{
	font-size: 1.25em;
	padding: 0 0 40px 0;
}
h3{
	color: #eee
}
label{
    text-align: center;
}
*, *:before, *:after{
	box-sizing: border-box;
	font: 300 1em/1.5 'Times', serif; color: black;
    padding: 20px; margin: 0;
    border-radius: 0.50em;
}
  .brand{
	text-align: center;
  }
  
  .contact form p{
	margin:0;
  }
  
  .contact form .full{
	grid-column: 1 / 3;
  }
  
 
  .contact form button{
	border:0;
	text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
	background:black;
	color:#fff;
	outline:0;
	transition: background-color 2s ease-out;
  } 
footer{
	background-color: #111;
}
.page-footer{
background: #222;
padding: 5px;
height: 45vh;
}

.row{
  margin-top: -22.5vh;
}

.footer-copyright{
  margin-top: -10vh;
}
a:link{
  text-decoration: none;
}
a{
  color: #111;
}
a:hover{
  text-decoration: none;
  color: aquamarine;
}
.btn-dark{
  border-radius: 2vh;
    height: 3.8vh;
    width: 12vh;
}