.container-2 {
  max-width: 1200px;
  margin-left: 0;
  padding: 1em;
}

.brand-2 {
  text-align: center;
}

.company-info-2 h3, .company-info-2 ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-2 form label {
  display: block;
}

.contact-2 form .full {
  grid-column: 1 / 3;
}

.contact-2 form button {
  border: 0;
  text-transform: uppercase;
}

.contact-2 form button:hover, .contact form button:focus {
  background: black;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.company-info-2 h3, .company-info ul, .brand {
  text-align: left;
}

*, *:before, *:after {
  box-sizing: border-box;
  font: 200 1em/1.5 'Times', serif;
  color: black;
  padding: 1px;
  margin: 1px;
  border-radius: 0.40em;
}

.mrg-2 {
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: rgb(238, 238, 238);
  margin-left: 5vw;
  width: 21vw;
  margin-top: 35vh;
  height: 66vh;
}

.topo-titulo {
  margin-top: 0;
  height: 72px;
  padding-top: 15px;
  box-sizing: border-box;
  width: 46vh;
  margin-left: -2px;
  background-color: rgb(238, 238, 238);
}
.topo-titulo-2 {
  margin-top: 0;
  height: 72px;
  padding-top: 15px;
  box-sizing: border-box;
  width: 140vh;
  background-color: rgb(238, 238, 238);
}

.topo-titulo h2 {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  border-radius: none;
  text-align: left;
  font-weight: bold;
  font-size: 1.25em;
  font-family: sans-serif;
}

.alfafa {
  width: 98vw;
}

.container{
  margin-top: 20vh;
  width: 180vw;
  padding-right: 10vw;
  text-align: right;
}

.topo-titulo{
  margin-bottom: 5vh;
}

.atleta {
  text-align: left;
  

} 

.container input{
  width: 60%;
  height: 5vh;
  /* border: none; */
  border: solid 1px rgba(90, 90, 90, 0.7);
  border-radius: 5px;
  margin-left: 15vh;
  align-items: center;
}

.contact-2 input{
  width: 97%;
  margin-right: 5vh;
  height: 3.8vh;
  /* border: none; */
  border: solid 1px rgba(90, 90, 90, 0.7);
  border-radius: 5px;
}

.contact select{
  width: 60%;
  margin-right: 5vh;
  height: 5.5vh;
  /* border: none; */
  border: solid 1px rgba(90, 90, 90, 0.7);
  background-color: #fff;
  border-radius: 5px;
}

.contact{
  
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: rgb(238, 238, 238);
  width: 140vh;
}


.atleta p{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 5vw;
  box-sizing: border-box
}

.atleta p input{
  flex:  2;
}

.atleta p #data{
  flex:  1.8;
}

.atleta p select{
  flex: 1.47;
  margin-right: 0;
}

.atleta p label{
  flex:  1;
}

.search{
  width: 150vw;
  display: flex;
}

#container-busca{
  position: fixed;
  width: 60vw;
  height: 60vh;
  background-color: #fff;
  border: solid 2px rgb(238, 238, 238);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

#container-busca h4{
  font-size: 1.2em;
  width: 20vw;
  margin-bottom: 3vh;
  text-align: center;
}

#container-busca input{
  width: 30vw;
  margin-bottom: 3vh;
  height: 5vh;
  padding-left: 1vw;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 1px rgb(160, 160, 160);
}

.button-close {
  position: absolute;
  width: 2vw;
  height: 2vw;
  right: 0.1vw;
  top: 0.1vw;
  background: rgba(0, 41, 58, 0);
  border-radius: 50%;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
}
a:link{
  text-decoration: none;
}
a{
  color: #111;
}
a:hover{
  text-decoration: none;
  color: rgb(33, 97, 216);
}
.btn-dark{
  border-radius: 2vh; 
  height: 5vh;
  width: 28vh;
}
.options{
  margin-top: -88.5vh;
  margin-left: 30%;
  padding-bottom: 70vh;
}
.btn-dark-2{
  border-radius: 1rem;
  height: 5.2vh;
  width: 7vh;
  margin-top: -43px;
  background-color:rgb(124, 122, 122);
  color: white;
  margin-left: -6.87vh;
  border-color: black;

}

h2{
  color: #fff;
}
.btn-login{
  border-radius: 0.9vh;
  height: 5vh;
  width: 28vh;
  background-color:#fa5400;
  color: white;
  margin-left: 4.8vh;
  border-color: #fff;
}
.acesso{
  color:black;
  font-size: 2.6vh;
  margin-top: -40vh;
  margin-left: 15px;
}
.topo2int{
  margin-left: 9.4vh;
}
cad{
  color: black;
  font-size: 6vh;
  margin-right: 60vh;
}
.btn-cadastro{
  border-radius: 0.9vh;
  height: 5vh;
  width: 28vh;
  background-color:#fa5400;
  color: white;
  margin-left: 100vh;
  border-color: #fff;
}
.atleta{
  font-size: 2.2vh;
}
#name{
  margin-left: 15vh;
}
#data{
  margin-left: 10vh;
}